.form-field {
    margin: 0.5rem 0;

    &__label {
        color: $color-accent-2;
        display: block;
        font-size: 0.75rem;
        line-height: 1rem;
    }
    &__group {
        display: flex;
        flex-direction: row;

        .form-field__addon {
            flex: 1 1 auto;
            display: block;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #000;
            padding: 0.25rem 0 0.5rem 0;
            background: transparent;
            border-bottom: 2px solid $color-accent-1;
        }
        .form-field__input {
            flex: 1 1 auto;
        }
    }

    &__button {
        background: #fff;
        display: inline-block;
        padding: 0.5rem !important;
        border-radius: 0 !important;
    }
    &__input {
        font-family: $base-font-family;
        display: block;
        color: #000;
        font-size: 1rem;
        line-height: 1.5rem;
        border: 0;
        border-bottom: 2px solid $color-accent-1;
        padding: 0.25rem 0 0.5rem 0;
        background: transparent;
        width: 100%;

        &::placeholder {
            color: rgba(0,0,0,0.87);
        }

        &:focus {
            outline: 0;
        }
    }

    &__title {
        font-family: $base-font-family;
        display: block;
        color: #000;
        font-size: 1rem;
        line-height: 1.5rem;
        border: 0;
        padding: 0.25rem 0 0 0;
        background: transparent;
        width: 100%;
        font-weight: 300;
    }

    &__sub {
        font-size: 0.6rem;
    }

    textarea {
        &.form-field__input {
            min-height: 12rem;
        }
    }

    &__loading {
        font-style: italic;
        border-bottom: 2px solid $color-accent-1;
        font-size: 0.75rem;
        line-height: 1.5rem;
        display: block;
        color: #000;
        padding: 0.25rem 0;
        background: transparent;
        width: 100%;
    }

    select {
        &.form-field__input {
            padding: 0.5rem 0;
        }
    }

    &--filter {
        .form-field__label {
            font-size: 0.625rem;
            line-height: 0.6875rem;
            text-transform: uppercase;
        }

        .form-field__input {
            font-size: 0.75rem;
            line-height: 1.5rem;
        }
    }

    &--no-gutters {
        margin: 0;
    }
}